@model IEnumerable<DesafioEvertMind.Models.Produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Produto</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().preco)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @string.Format("{0:N2}", item.preco)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
